<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title th:text="${titulo}"></title>
</head>

<body>

	<h1 th:text="${titulo}"></h1>

	<div th:if="${usuarios.isEmpty()}">
		<span>No hay usuario registrados</span>
	</div>

	<div th:if="${!usuarios.isEmpty()}">
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario: ${usuarios}">
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.apellido}"></td>
					<td th:text="${usuario.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>


</body>

</html>